footer , .footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: #1f2937;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 20px;
}
.logout-btn {
    background: #ef4444;
    border: none;
    padding: 8px 16px;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 0.9rem;
}