#popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10001;
}

/* Popup box */
.popup-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px 25px;
    border-radius: 12px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
    width: 350px;
    text-align: center;
}

/* Buttons */
.popup-box button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
}

.popup-box .cancel-btn {
    background: #e5e7eb;
    cursor: pointer;
}

.popup-box .cancel-btn:hover {
    background: #a6a7aa;
    cursor: pointer;
}

.popup-box .finish-btn {
    background: #3B82F6;
    color: white;
    cursor: pointer;
}

.popup-box .finish-btn:hover {
    background: #0b4095;
}